.contact {
  --gapForm: 15px;
  padding: 9rem 0;

  & .container {
    display: flex;
    gap: var(--gapInsideSections);
    max-width: 111rem;
    margin: 0 auto;
  }

  & .description {
    flex: 1;

    & > p {
      margin: 2.4rem 0 4rem 0;
    }
  }

  & .form {
    flex: 1;

    & input {
      padding: 2rem 0 2rem 3rem;
      font-size: 1.5rem;
      border: 1px solid #333333;
      border-radius: 8px;
    }

    & .form-row {
      display: flex;
      width: 100%;
      gap: var(--gapForm);

      & input {
        flex: 1;
      }
    }

    & form {
      display: flex;
      flex-direction: column;
      gap: var(--gapForm);
    }
  }
}
